<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.dev.shop.model.user.dto.UserVO" alias="UserVO" />
		<typeAlias type="com.dev.shop.model.address.vo.AddressVO" alias="AddressVO" />
		<typeAlias type="com.dev.shop.model.product.vo.ProductVO" alias="ProductVO" />
	</typeAliases>
	
</configuration>

